body {
    margin: 0;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    // cursor: url('./img/六角形.svg');
    cursor: none;
  }

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;

    // 讓游標跑得很滑順
    transition-duration: 200ms;
    transition-timing-function: ease-out;

    // 做游標的動畫
    animation: cursorAnim .5s infinite alternate;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;

    animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
    // 游標動畫由小變大
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnim2 {
    // 游標動畫由小變大
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnim3 {
    // 游標動畫由小變大
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


.expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid rgb(9, 230, 46);
}